* {
margin: 0;
padding: 0;
border:0;

}

body{
	background-color: #242526; 

}

h2, h1{
	color: grey;
	text-align: center;
  font-family: 'Montserrat', sans-serif;
}

p {
  color: grey;
  margin-left:200px;
  margin-right: 200px;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
}

.creator h3{
	color: white;
 text-transform: uppercase;
}


.creator{
	border: solid 3px white;
     border-radius: 16px;
}

#article-title{
  font-family: cursive;
text-transform: capitalize;

}

.article-background{
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 20%;
  width: 100%;
}

.title {
  color: teal;
   border: solid 3px white;
     border-radius: 15px;

}

.bold {
  font-weight: bold;
}

