* {
margin: 0;
padding: 0;
border:0;

}


body {
  background-image: url(../images/background.jpg);
  margin-top: 25px;
}

header { 
margin-bottom: 65px;
text-align: center;
color: white;
background-color: darkgoldenrod; 
}

#article-title{
  font-family: cursive;
text-transform: capitalize;

}

.Bar {
margin-top: 20px;
text-align: center;
color: beige;
font-size: 17px;
}

.bold {
  font-weight: bold;
}


.row {
text-align: center;  
}


.Explanation {
color: white;
font-size: 15px;
margin-bottom: 50px; 
}


.Return { 
margin-left: 280px;
margin-bottom: 20px; 
}


.Footer { 
color: grey;
text-align: center;
margin-top: 50px;
}