* {
margin: 0;
padding: 0;
border:0;
font-size: 100%;
}

body{
	background-color: #242526; 
background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: bottom center;
  height: 700px;
  width: 100%;
}

h2, h1{
	color: grey;
	text-align: center;
}

p {
  color: grey;
  text-align: center;
  padding: 20px;
  margin:  0 auto;
}
.creator h3{
	color: white;
 text-transform: uppercase;
}


.creator{
	border: solid 3px white;
     border-radius: 16px;
}
#article-title{
  font-family: cursive;
text-transform: capitalize;
}

.title {
  color: teal;
   border: solid 3px white;
     border-radius: 15px;

}

.bold {
  font-weight: bold;
}

